<div class="max-w-4xl mx-auto p-5 bg-white min-h-screen">
  <h1 class="text-gray-800 border-b-4 border-purple-500 pb-2.5 mb-8 text-3xl font-bold">マルチプレイ募集を編集</h1>

  <%= render "form", multiplay_recruitment: @multiplay_recruitment %>

  <%= link_to "一覧に戻る", multiplay_recruitments_path, class: "btn btn-default" %>
</div>

