<div class="max-w-4xl mx-auto p-5 bg-white min-h-screen">
  <h1 class="text-gray-800 border-b-4 border-blue-500 pb-2.5 mb-8 text-3xl font-bold"><%= t('app.stages.new_title') %></h1>

  <%= render "form", stage: @stage %>

  <%= link_to t('app.common.back'), stages_path, class: "btn btn-default" %>
</div>

